USE [master]
GO
/****** Object:  Database [CUOC_DIENTHOAI]    Script Date: 11/29/2018 8:28:40 PM ******/
CREATE DATABASE [CUOC_DIENTHOAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CUOC_DIENTHOAI', FILENAME = N'C:\DevProgram\SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CUOC_DIENTHOAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CUOC_DIENTHOAI_log', FILENAME = N'C:\DevProgram\SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CUOC_DIENTHOAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CUOC_DIENTHOAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CUOC_DIENTHOAI]
GO
USE [CUOC_DIENTHOAI]
GO
/****** Object:  Table [dbo].[CuocGoi]    Script Date: 11/29/2018 8:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuocGoi](
	[MaCuocGoi] [int] IDENTITY(1,1) NOT NULL,
	[MaSim] [int] NOT NULL,
	[TG_BatDau] [datetime] NOT NULL,
	[TG_KetThuc] [datetime] NOT NULL,
	[SoPhutSD] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCuocGoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDK]    Script Date: 11/29/2018 8:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDK](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaSim] [int] NOT NULL,
	[TG_DangKy] [datetime] NOT NULL,
	[ChiPhi] [decimal](18, 0) NOT NULL,
	[MaKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonThanhToan]    Script Date: 11/29/2018 8:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonThanhToan](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaSim] [int] NOT NULL,
	[CuocThueBao] [decimal](18, 0) NOT NULL,
	[TG_TaoHoaDon] [datetime] NOT NULL,
	[ThanhToan] [bit] NOT NULL,
	[ThanhTien] [decimal](18, 0) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/29/2018 8:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[CMND] [nvarchar](50) NOT NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCuoc]    Script Date: 11/29/2018 8:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCuoc](
	[TG_BatDau] [time](7) NOT NULL,
	[TG_KetThuc] [time](7) NOT NULL,
	[GiaCuoc] [decimal](18, 0) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sim]    Script Date: 11/29/2018 8:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sim](
	[MaSim] [int] IDENTITY(1,1) NOT NULL,
	[SoSim] [nvarchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CuocGoi] ON 

INSERT [dbo].[CuocGoi] ([MaCuocGoi], [MaSim], [TG_BatDau], [TG_KetThuc], [SoPhutSD]) VALUES (0, 2, CAST(N'2017-04-01T11:59:48.000' AS DateTime), CAST(N'2017-04-01T12:59:48.000' AS DateTime), 60)
INSERT [dbo].[CuocGoi] ([MaCuocGoi], [MaSim], [TG_BatDau], [TG_KetThuc], [SoPhutSD]) VALUES (2, 2, CAST(N'2018-11-10T01:50:26.000' AS DateTime), CAST(N'2018-11-10T01:51:13.000' AS DateTime), 1)
INSERT [dbo].[CuocGoi] ([MaCuocGoi], [MaSim], [TG_BatDau], [TG_KetThuc], [SoPhutSD]) VALUES (3, 3, CAST(N'2018-11-10T08:55:43.000' AS DateTime), CAST(N'2018-11-10T10:15:36.000' AS DateTime), 80)
SET IDENTITY_INSERT [dbo].[CuocGoi] OFF
SET IDENTITY_INSERT [dbo].[HoaDonDK] ON 

INSERT [dbo].[HoaDonDK] ([MaHD], [MaSim], [TG_DangKy], [ChiPhi], [MaKH]) VALUES (0, 2, CAST(N'2016-09-29T11:00:00.000' AS DateTime), CAST(50000 AS Decimal(18, 0)), 0)
INSERT [dbo].[HoaDonDK] ([MaHD], [MaSim], [TG_DangKy], [ChiPhi], [MaKH]) VALUES (1, 3, CAST(N'2016-12-15T13:22:00.000' AS DateTime), CAST(50000 AS Decimal(18, 0)), 2)
INSERT [dbo].[HoaDonDK] ([MaHD], [MaSim], [TG_DangKy], [ChiPhi], [MaKH]) VALUES (2, 4, CAST(N'2016-12-15T13:23:00.000' AS DateTime), CAST(50000 AS Decimal(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[HoaDonDK] OFF
SET IDENTITY_INSERT [dbo].[HoaDonThanhToan] ON 

INSERT [dbo].[HoaDonThanhToan] ([MaHD], [MaKH], [MaSim], [CuocThueBao], [TG_TaoHoaDon], [ThanhToan], [ThanhTien], [Status]) VALUES (0, 0, 2, CAST(50000 AS Decimal(18, 0)), CAST(N'2016-11-03T02:27:04.000' AS DateTime), 1, CAST(150000 AS Decimal(18, 0)), 1)
INSERT [dbo].[HoaDonThanhToan] ([MaHD], [MaKH], [MaSim], [CuocThueBao], [TG_TaoHoaDon], [ThanhToan], [ThanhTien], [Status]) VALUES (2, 2, 3, CAST(50000 AS Decimal(18, 0)), CAST(N'2016-11-21T06:46:36.000' AS DateTime), 0, CAST(300000 AS Decimal(18, 0)), 1)
INSERT [dbo].[HoaDonThanhToan] ([MaHD], [MaKH], [MaSim], [CuocThueBao], [TG_TaoHoaDon], [ThanhToan], [ThanhTien], [Status]) VALUES (3, 2, 4, CAST(50000 AS Decimal(18, 0)), CAST(N'2016-12-04T13:21:46.000' AS DateTime), 1, CAST(190000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[HoaDonThanhToan] OFF
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [CMND], [NgheNghiep], [DiaChi], [Status]) VALUES (0, N'CTY TNHH THƯƠNG MẠI HOA LỢI', N'25400649', N'Kinh Doanh', N'284/6, NGUYỄN TRỌNG TUYỂN, P.10, PHÚ NHUẬN', 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [CMND], [NgheNghiep], [DiaChi], [Status]) VALUES (2, N'NGUYỄN NGỌC HUỲNH NHƯ', N'25454976', N'Bán Hàng', N'30/32 - NGUYỄN BỈNH KHIÊM - P.1 - GÒ VẤP - TP HCM', 1)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [CMND], [NgheNghiep], [DiaChi], [Status]) VALUES (3, N'ĐÀO VĂN PHÚC', N'25446098', N'Nội Trợ', N'58/647, NGUYỄN OANH, P.17, GÒ VẤP', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
INSERT [dbo].[LoaiCuoc] ([TG_BatDau], [TG_KetThuc], [GiaCuoc], [Status]) VALUES (CAST(N'07:00:00' AS Time), CAST(N'23:00:00' AS Time), CAST(200 AS Decimal(18, 0)), 1)
INSERT [dbo].[LoaiCuoc] ([TG_BatDau], [TG_KetThuc], [GiaCuoc], [Status]) VALUES (CAST(N'23:00:00' AS Time), CAST(N'07:00:00' AS Time), CAST(150 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Sim] ON 

INSERT [dbo].[Sim] ([MaSim], [SoSim], [Status]) VALUES (2, N'84913805266', 1)
INSERT [dbo].[Sim] ([MaSim], [SoSim], [Status]) VALUES (3, N'841236969334', 1)
INSERT [dbo].[Sim] ([MaSim], [SoSim], [Status]) VALUES (4, N'84913919143', 1)
SET IDENTITY_INSERT [dbo].[Sim] OFF
ALTER TABLE [dbo].[CuocGoi]  WITH CHECK ADD  CONSTRAINT [FK_CuocGoi_Sim] FOREIGN KEY([MaSim])
REFERENCES [dbo].[Sim] ([MaSim])
GO
ALTER TABLE [dbo].[CuocGoi] CHECK CONSTRAINT [FK_CuocGoi_Sim]
GO
ALTER TABLE [dbo].[HoaDonDK]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDK_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDonDK] CHECK CONSTRAINT [FK_HoaDonDK_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonDK]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonDK_Sim] FOREIGN KEY([MaSim])
REFERENCES [dbo].[Sim] ([MaSim])
GO
ALTER TABLE [dbo].[HoaDonDK] CHECK CONSTRAINT [FK_HoaDonDK_Sim]
GO
ALTER TABLE [dbo].[HoaDonThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonThanhToan_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDonThanhToan] CHECK CONSTRAINT [FK_HoaDonThanhToan_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonThanhToan_Sim] FOREIGN KEY([MaSim])
REFERENCES [dbo].[Sim] ([MaSim])
GO
ALTER TABLE [dbo].[HoaDonThanhToan] CHECK CONSTRAINT [FK_HoaDonThanhToan_Sim]
GO
USE [master]
GO
